@import 'variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background;
  color: $headline;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  width: 100%;
  // overflow-y: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.active {
  color: $highlight !important;
}

// main css
.wrapper {
  margin: 0 auto;
  padding-top: 24px;
  overflow-x: hidden;
  position: relative;

  @media (min-width: $desktop) {
    margin: 0 auto;
    padding-top: 48px;
    max-width: 1024px;
    display: flex;
  }
}

// intro
.intro-overlay {
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 8;

  &__line {
    position: absolute;
    height: 100%;
    width: 100%;
    background: $main;
    bottom: 0;
    left: 0;
    right: 0;

    &:nth-child(2) {
      display: none;

      @media (min-width: $desktop) {
        display: block;
        left: 33.3333%;
      }
    }
    &:nth-child(3) {
      display: none;

      @media (min-width: $desktop) {
        display: block;
        left: 66.6666%;
      }
    }

    @media (min-width: $desktop) {
      width: 33.3333%;
    }
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  background: #16161a;
  width: 80%;
  height: 100vh;
  transform: translateX(-100vw);
  transition: transform 0.3s ease-in;
  &.open {
    transform: translateX(0);
  }

  @media (min-width: $desktop) {
    transform: unset;
    position: initial;
    display: block;
    flex: 1;
  }

  &__list {
    position: relative;
    text-align: center;
    top: unset;
    padding: 20px;

    @media (min-width: $desktop) {
      position: fixed;
      top: 48px;
      text-align: left;
      padding: 0px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 2.5rem;
    @media (min-width: $desktop) {
      margin-bottom: 2rem;
    }
  }

  &__link {
    font-size: 2rem;
    color: $main;
    text-decoration: none;
    transition: color 0.5s ease;

    @media (min-width: $desktop) {
      font-size: 1.125rem;
      color: $secondary;
    }

    &:hover {
      color: $tertiary;
    }
  }
}

.content {
  padding: 0 1.25rem;

  @media (min-width: $tablet) {
    padding: 0 3.25rem;
  }

  @media (min-width: $desktop) {
    padding: 0;
    flex: 2;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo a {
    color: $headline;
    font-size: 2rem;
    font-weight: 700;

    & span {
      color: $highlight;
      margin-left: 3px;
    }
    &:hover {
      & span {
        animation: pulsingDot 1.5s ease-in-out infinite;
      }
    }
  }

  &__cta {
    a {
      font-size: 1.15rem;
      color: $button;
      text-decoration: underline;
      transition: color 0.5s ease;
      &:hover {
        color: $tertiary;
      }

      @media (min-width: $desktop) {
        font-size: 1rem;
      }
    }
  }

  &__menu-btn {
    display: relative;
    width: 50px;
    height: 30px;
    cursor: pointer;

    @media (min-width: $desktop) {
      display: none;
    }

    span.line {
      width: 50px;
      height: 30px;
      border-bottom: 3px solid #fff;
      display: block;
      position: fixed;
      top: 28px;
      z-index: 999;

      &::before,
      &::after {
        position: absolute;
        content: '';
        border-bottom: 3px solid #fff;
      }

      &::before {
        width: 30px;
        bottom: 23px;
      }

      &::after {
        width: 40px;
        bottom: 10px;
      }
    }
  }
}

@keyframes pulsingDot {
  0% {
    color: $highlight;
  }

  50% {
    color: $tertiary;
  }

  100% {
    color: $highlight;
  }
}

.hero {
  padding-top: 100px;
  height: calc(100vh - 48px - (2rem + 6px) - 1.75rem);
  position: relative;

  &__heading {
    color: $main;
    font-size: 2.7rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    mix-blend-mode: difference;
    position: relative;
    z-index: 10;

    @media (min-width: $tablet) {
      font-size: 5.7rem;
    }

    @media (min-width: $desktop) {
      font-size: 4rem;
    }
  }
  &__line {
    overflow: hidden;
    height: 56px;
    position: relative;
    width: 100%;
    & span {
      position: absolute;
    }

    @media (min-width: $tablet) {
      height: 105px;
    }

    @media (min-width: $desktop) {
      height: 72px;
    }
  }
}

.bg-circle {
  position: absolute;
  z-index: -999;

  &--violet {
    top: 50%;
    right: -150px;
    width: 400px;
    transform: translateY(-50%) rotate(20deg);
    z-index: -999;

    @media (min-width: $desktop) {
      right: 0px;
    }
  }

  &--green {
    top: 75%;
    right: 190px;
    width: 200px;
    transform: translateY(-50%) rotate(-20deg);

    @media (min-width: $desktop) {
      right: 440px;
    }
  }
}

.about {
  &__heading {
    color: $paragraph;
    font-size: 1.75rem;
    margin-bottom: 90px;
  }

  &__skill {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet) {
      flex-direction: row;
    }

    &:not(:last-child) {
      margin-bottom: 60px;
      @media (min-width: $desktop) {
        margin-bottom: 90px;
      }
    }
  }

  &__title {
    flex: 2;
    color: $highlight;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;

    @media (min-width: $tablet) {
      flex: 1;
    }

    @media (min-width: $desktop) {
      flex: 2;
      font-size: 1rem;
      margin-bottom: 0;
    }

    &--highlight {
      color: $tertiary;
    }
  }

  &__desc {
    flex: 3;
    color: $paragraph;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.25rem;

    @media (min-width: $desktop) {
      font-size: 1rem;
    }
  }
}

.projects {
  margin-top: 250px;

  &__heading {
    color: $paragraph;
    margin-bottom: 90px;
    font-size: 1.75rem;
  }

  &__wrap {
    column-count: 1;

    @media (min-width: $tablet) {
      column-count: 2;
      column-gap: 40px;
    }
  }

  &__item {
    display: inline-block;
    margin: 0 0 40px;
    width: 100%;

    img {
      width: 100%;
    }

    @media (min-width: $tablet) {
      &:nth-child(4) {
        margin-top: 60px;
      }
    }

    &:last-child {
      p {
        margin-bottom: 20px;
        line-height: 1.5;
        font-size: 1.25rem;

        @media (min-width: $desktop) {
          font-size: 1rem;
        }
      }

      a {
        font-size: 1.25rem;
        color: $tertiary;
        text-decoration: underline;

        transition: color 0.5s ease;
        &:hover {
          color: $highlight;
        }

        @media (min-width: $desktop) {
          font-size: 1rem;
        }
      }
    }
  }
}

.about-me {
  padding: 250px 0 150px;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop) {
    flex-direction: row;
  }

  &__heading {
    flex: 1;

    font-size: 1.75rem;
    color: $main;
    margin-bottom: 1.25rem;
  }

  &__desc {
    flex: 2;

    color: $paragraph;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.25rem;

    & p:not(:last-child) {
      margin-bottom: 30px;
    }

    @media (min-width: $desktop) {
      font-size: 1rem;
    }
  }
}

.contact {
  background-color: $background-secondary;
  margin-top: 120px;
  padding: 120px 1.25rem 60px;

  @media (min-width: $tablet) {
    padding: 120px 3.25rem 60px;
  }

  @media (min-width: $desktop) {
    padding: 120px 0;
  }

  &__wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: $desktop) {
      flex-direction: row;
      font-size: 1rem;
      max-width: 1024px;
      align-items: flex-end;
    }
  }

  .social {
    flex: 1;
    margin-top: 60px;

    @media (min-width: $desktop) {
      margin-top: 0px;
    }

    &__heading {
      color: $paragraph;
      font-size: 1.5rem;
      margin-bottom: 2rem;
      text-align: center;

      @media (min-width: $desktop) {
        font-size: 1.25rem;
        text-align: left;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      img {
        margin-right: 10px;
      }

      @media (min-width: $desktop) {
        justify-content: left;
      }
    }

    &__link {
      font-size: 1.25rem;
      font-weight: 100;
      color: $secondary;
      text-decoration: none;
      transition: color 0.5s ease;
      &:hover {
        color: $tertiary;
      }

      @media (min-width: $desktop) {
        justify-content: left;
        font-size: 1rem;
      }
    }
  }

  &__container {
    flex: 2;
  }

  &__heading {
    color: $main;
    margin-bottom: 30px;
    font-size: 1.75rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & span {
      margin-bottom: 5px;
    }
  }

  &__cta {
    a {
      color: $button;
      text-decoration: underline;
      transition: color 0.5s ease;
      font-size: 1.25rem;
      &:hover {
        color: $tertiary;
      }

      @media (min-width: $desktop) {
        font-size: 1rem;
      }
    }
  }

  &__cards-wrap {
    margin-top: 90px;
    display: flex;
  }

  & .card {
    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: $background;
    padding: 40px;
    border-radius: 5px;

    @media (min-width: $desktop) {
      width: 75%;
    }

    &__icon {
      color: $secondary;
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      font-size: 1.5rem;

      @media (min-width: $desktop) {
        font-size: 1.125rem;
      }

      & img {
        margin-right: 5px;
      }
    }

    &__heading {
      margin-top: auto;
      font-size: 1rem;
      color: $main;
      margin-bottom: 20px;
    }

    &__description {
      color: $secondary;
    }

    & form {
      width: 100%;
      text-align: center;

      @media (min-width: $desktop) {
        text-align: right;
      }

      & .form-group {
        text-align: left;
      }

      label {
        color: $secondary;
        font-size: 1.25rem;
        @media (min-width: $desktop) {
          font-size: 0.85rem;
        }
      }

      input {
        width: 100%;
        margin: 5px 0 30px;
        background: none;
        outline: none;
        border: none;
        color: $main;
        font-size: 1.5rem;
        font-weight: 100;
        border-bottom: 1px solid #434547;
        transition: border-bottom 0.5s ease;

        &:focus {
          border-bottom: 1px solid $highlight;
        }
      }

      textarea {
        width: 100%;
        margin: 5px 0 0;
        background: none;
        outline: none;
        border: none;
        color: $main;
        font-family: inherit;
        font-size: 1.35rem;
        font-weight: 100;
        border-bottom: 1px solid #434547;
        transition: border-bottom 0.5s ease;
        resize: none;

        &:focus {
          border-bottom: 1px solid $highlight;
        }

        @media (min-width: $desktop) {
          font-size: 1.15rem;
        }
      }

      button {
        background-color: $highlight;
        color: $main;
        font-size: 1rem;
        font-weight: 400;
        padding: 10px 20px;
        border-radius: 3px;
        border: none;
        margin-top: 40px;
        transition: background-color 0.5s ease;

        &:hover,
        &:active {
          background-color: $tertiary;
        }
      }
    }
  }
}
