// Colors
$background: #16161a;
$background-secondary: #242629;
$headline: #fffffe;
$paragraph: #94a1b2;
$button: #7f5af0;
$button-text: #fffffe;
$stroke: #010101;
$main: #fffffe;
$highlight: #7f5af0;
$secondary: #72757e;
$tertiary: #2cb67d;

// Breakpoints
$phone: 425px;
$tablet: 768px;
$desktop: 1366px;
$LGdesktop: 1920px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background;
  color: $headline;
  font-family: 'Roboto', sans-serif;
  // overflow-y: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.active {
  color: $highlight !important;
}

// helpers
.mb-60 {
  margin-bottom: 60px;
}

// main css
.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  padding-top: 48px;
}

// intro
.intro-overlay {
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 8;

  &__line {
    position: absolute;
    height: 100%;
    width: 33.3333vw;
    background: $main;
    bottom: 0;
    left: 0;
    right: 0;

    &:nth-child(2) {
      left: 33.3333%;
    }
    &:nth-child(3) {
      left: 66.6666%;
    }
  }
}

.nav {
  flex: 1;

  &__list {
    position: fixed;
    top: 48px;
  }

  &__item:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__link {
    font-size: 1.125rem;
    color: $secondary;
    text-decoration: none;
    transition: color 0.5s ease;
    &:hover {
      color: $tertiary;
    }
  }
}

.content {
  flex: 2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo a {
    color: $headline;
    font-size: 2rem;
    font-weight: 700;

    & span {
      color: $highlight;
      margin-left: 3px;
      //transition: color 0.5s ease;
    }
    &:hover {
      & span {
        animation: pulsingDot 1.5s ease-in-out infinite;
      }
    }
  }

  &__cta {
    a {
      color: $button;
      text-decoration: underline;
      transition: color 0.5s ease;
      &:hover {
        color: $tertiary;
      }
    }
  }
}

@keyframes pulsingDot {
  0% {
    color: $highlight;
  }

  50% {
    color: $tertiary;
  }

  100% {
    color: $highlight;
  }
}

.hero {
  padding-top: 100px;
  height: calc(100vh - 48px - (2rem + 6px) - 1.75rem);
  &__heading {
    color: $main;
    font-size: 4rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    mix-blend-mode: difference;
    position: relative;
    z-index: 10;
  }
  &__line {
    overflow: hidden;
    height: 72px;
    position: relative;
    width: 100%;
    & span {
      position: absolute;
    }
  }
}

.about {
  &__heading {
    color: $paragraph;
    font-size: 1.75rem;
    margin-bottom: 90px;
  }

  &__skill {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 90px;
    }
  }

  &__title {
    flex: 2;
    color: $highlight;

    &--highlight {
      color: $tertiary;
    }
  }

  &__desc {
    flex: 3;
    color: $paragraph;
    font-weight: 300;
    line-height: 1.5;
  }
}

.projects {
  margin-top: 250px;

  &__heading {
    color: $paragraph;
    margin-bottom: 90px;
    font-size: 1.75rem;
  }

  &__wrap {
    column-count: 2;
    column-gap: 40px;
  }

  &__item {
    display: inline-block;
    margin: 0 0 40px;
    width: 100%;

    img {
      width: 100%;
    }

    &:nth-child(4) {
      margin-top: 60px;
    }

    &:last-child {
      p {
        margin-bottom: 20px;
      }

      a {
        color: $tertiary;
        text-decoration: underline;

        transition: color 0.5s ease;
        &:hover {
          color: $highlight;
        }
      }
    }
  }
}

.about-me {
  padding: 250px 0 150px;
  display: flex;

  &__heading {
    flex: 1;

    font-size: 1.75rem;
    color: $main;
  }

  &__desc {
    flex: 2;

    color: $paragraph;
    font-weight: 300;
    line-height: 1.5;

    & p:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.footer {
  background-color: $background-secondary;
  margin-top: 120px;
  padding: 120px 0;

  &__wrapper {
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    align-items: flex-end;
  }

  .social {
    flex: 1;

    &__heading {
      color: $paragraph;
      font-size: 1.25rem;
      margin-bottom: 2rem;
    }

    &__item {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      img {
        margin-right: 10px;
      }
    }

    &__link {
      font-size: 1rem;
      font-weight: 100;
      color: $secondary;
      text-decoration: none;
      transition: color 0.5s ease;
      &:hover {
        color: $tertiary;
      }
    }
  }

  &__container {
    flex: 2;
  }

  &__heading {
    color: $main;
    margin-bottom: 30px;
    font-size: 1.75rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & span {
      margin-bottom: 5px;
    }
  }

  &__cta {
    a {
      color: $button;
      text-decoration: underline;
      transition: color 0.5s ease;
      &:hover {
        color: $tertiary;
      }
    }
  }

  &__cards-wrap {
    margin-top: 90px;
    display: flex;
  }

  & .card {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    background-color: $background;
    padding: 20px 15px 40px;
    border-radius: 5px;
    // height: 250px;

    &:not(:last-child) {
      margin-right: 40px;
    }

    &__icon {
      color: $highlight;
      margin-bottom: 40px;
    }

    &__heading {
      margin-top: auto;
      font-size: 1rem;
      color: $main;
      margin-bottom: 20px;
    }

    &__description {
      color: $secondary;
    }
  }
}
