// Colors
$background: #16161a;
$background-secondary: #242629;
$headline: #fffffe;
$paragraph: #94a1b2;
$button: #7f5af0;
$button-text: #fffffe;
$stroke: #010101;
$main: #fffffe;
$highlight: #7f5af0;
$secondary: #72757e;
$tertiary: #2cb67d;

// Breakpoints
$phone: 425px;
$tablet: 768px;
$desktop: 1200px;
$LGdesktop: 1920px;
